<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
</head>
<body ng-app="app" ng-controller="ctrl" ng-cloak>
  <div layout="column" layout-fill>
    <div  layout="row" flex="5" layout-align="center center" class="headandfooter">
      <div  flex="90" >
        <b>Fitness App</b>
      </div>
      <div flex="10">
        <md-button class="md-raised md-warn" ng-if="showLogout" style="position:absolute;right:20%" ng-click="home()">Home</md-button>
        <md-button class="md-raised md-warn" ng-if="showLogout" ng-click="logout()">Logout</md-button>
      </div>
    </div>
    <div  layout="column" flex="90" id="backg"  ui-view ></div>
          <!-- Trigger/Open The Modal -->
      <!-- <button id="myBtn">Open Modal</button> -->
      <div id="myBtn">

      </div>
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div layout="row" layout-align="center" layout-wrap>
            <h1>Send Email</h1>
          </div>
          <div layout="row" layout-align="center" layout-wrap>
            <div flex="70" layout="row">
              <md-input-container flex="100">
                <label>Subject</label>
                <input ng-model="mailingData.subject">
              </md-input-container>
            </div>
            <div flex="70" layout="row">
              <md-input-container flex="100">
                <label>Body</label>
                <input ng-model="mailingData.body">
              </md-input-container>
            </div>
            <div flex="70" layout="row" layout-align="center">
              <md-button class="md-raised md-warn" ng-click="sendEmailToInstructor()">Send</md-button>

            </div>
          </div>
        </div>

      </div>
    <div  layout="row" flex="5" layout-align="center center" class="headandfooter" >

    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-aria.min.js"></script> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.css" rel="stylesheet" type="text/css"> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js.map"></script>
  <link href="https://cdn.jsdelivr.net/npm/ng-material-datetimepicker/dist/material-datetimepicker.min.css" rel="stylesheet" type="text/css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
  <script src="/scripts/fileupload.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  <script type="text/javascript" src="./scripts/script.js"></script>

</body>
</html>
