<div flex="100" layout="column" layout-align="center" id="layout" >
    <div layout="row" flex="40" layout-align="center">
       <md-whiteframe style="background:white" class="md-whiteframe-16dp" layout-padding layout="column"  flex="40">
         <div layout="row" flex="15" layout-align="center center">
           <h1>Login</h1>
         </div>
         <div layout="row" flex="35" layout-align="center center">
           <md-input-container flex="100">
             <label>User Email</label>
             <input required ng-model="loginUser.email" type="email">
           </md-input-container>
         </div>
         <div layout="row" flex="35" layout-align="center center">
           <md-input-container flex="100">
             <label>Password</label>
             <input required ng-model="loginUser.password" type="password">
           </md-input-container>
        </div>
        <div layout="row" flex="15" style="padding-left:15%;padding-right:15%" layout-align="space-around center">
          <md-button class="md-raised md-primary" ng-click="login(loginUser)">Login</md-button>
          <md-button class="md-raised" ng-click="signupPage()">Sign Up</md-button>
       </div>
       </md-whiteframe>
    </div>
</div>
